<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina formulario teste</title>
</head>
<body>

<form action="" method="POST">
    {% csrf_token %}
    <label for="valor">Valor</label><br>
    <input type="text" id="valor" placeholder="Ex.:00,00"><br>
    <label for="categoria">Categoria</label><br>
    <input type="text" id="categoria" placeholder="Ex.:Transporte"><br>
    <label for="tipo">Tipo</label><br>
    <input type="text" id="tipo" placeholder="Ex.:Ônibus"><br><br>
    <input type="submit" value="Enviar">
</form>
    
</body>
</html>
